@import 'theme_color';
@import 'variables';
@import 'mixin';
@import 'responsive';

/* [Master Stylesheet v1.0] */

/* :: :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';
@import 'css/custom-icon.css';
@import 'css/classy-nav.min.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    line-height: 1.3;
    font-weight: 700;

}

p {
    color: $text-color;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
}


a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    font-weight: 600;
    font-size: 14px;
}

ul,
ol {
    margin: 0;

    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

/* Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* Section Heading */

.section-heading {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin-bottom: 80px !important;

    span {
        color: $text-color;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 15px;
        display: block;
        letter-spacing: 2px;
    }

    h3 {
        font-size: 34px;
        margin-bottom: 0;
        font-weight: 600;

        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }

    &.text-left {
        text-align: left !important;
    }

    &.white {

        span,
        h3 {
            color: $white-color;
        }
    }
}

/* Preloader */

#preloader {
    @include bg-gradients;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;

    .circle-preloader {
        display: block;
        width: 60px;
        height: 60px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-bottom-color: $white-color;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        animation: spin 2s infinite linear;
    }

    @-webkit-keyframes spin {
        100% {
            @include transform(rotate(360deg));
        }
    }

    @keyframes spin {
        100% {
            @include transform(rotate(360deg));
        }
    }
}

/* Miscellaneous */

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;

    &::after {
        background-color: rgba(0, 0, 0, 0.88);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: $white-color;
    right: 0;
    padding-right: 0;
    width: 30px;
    height: 30px;
    background-color: $bg-default;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 40px;
    right: -30px;

    @media #{$breakpoint-xs} {
        right: 0;
    }
}

/* ScrollUp */

#scrollUp {
    @include bg-gradients;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
    @include trans-duration(500ms);

    &:hover {
        background-color: $dark-color;
    }

    @media #{$breakpoint-xs} {
        bottom: 30px;
        right: 30px;
    }
}

/* Essence Button */

.academy-btn {
    display: inline-block;
    min-width: 160px;
    height: 65px;
    color: $white-color;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    font-size: 14px;
    line-height: 65px;
    @include transition(all 500ms);
    background: #61ba6d;
    background-image: -webkit-linear-gradient(left, #61ba6d 0%, #83c331 51%, #61ba6d 100%);
    background-image: linear-gradient(to right, #61ba6d 0%, #83c331 51%, #61ba6d 100%);
    font-weight: 600;

    &.btn-sm {
        min-width: 110px;
        padding: 0 20px;
        height: 42px;
        line-height: 42px;
    }

    &.active,
    &:hover,
    &:focus {
        font-size: 14px;
        font-weight: 600;
        color: $white-color;
        @include bg-gradients;
    }

    &.btn-2 {
        background: $dark-color;

        &:hover,
        &:focus {
            background: $hover-color;
        }
    }

    &.btn-3 {
        background: $hover-color;

        &:hover,
        &:focus {
            background: $dark-color;
        }
    }

    &.btn-4 {
        background: $white-color;
        border: 2px solid $hover-color;
        color: $text-color;

        &:hover,
        &:focus {
            background: $hover-color;
            color: $white-color;
        }
    }
}

/* Header Area CSS */

.header-area {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 125px;

    .top-header {
        width: 100%;
        height: 95px;

        .login-content {
            a {
                display: inline-block;
                font-weight: 600;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }

    .academy-main-menu {
        position: absolute;
        width: 100%;
        height: 85px;
        background-color: transparent;
        top: 95px;
        z-index: 100;
        left: 0;
        right: 0;

        .classy-nav-container {
            background-color: transparent;
        }

        .classy-navbar {
            background-color: $bg-gray;
            height: 85px;
            padding: 0;

            @media #{$breakpoint-md} {
                padding: 0;
                padding-left: 2em;
            }

            @media #{$breakpoint-xs} {
                padding: 0;
                padding-left: 2em;
            }

            .classynav ul li a {
                font-weight: 700;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }

        .classynav {
            padding-left: 2em;

            @media #{$breakpoint-lg} {
                padding-left: 1em;
            }

            @media #{$breakpoint-md} {
                padding-left: 0;
            }

            @media #{$breakpoint-xs} {
                padding-left: 0;
            }
        }

        .calling-info {
            position: relative;
            padding-left: 80px;
            overflow: hidden;

            @media #{$breakpoint-lg} {
                padding-left: 50px;
            }

            .call-center {
                position: relative;
                z-index: 1;
                @include bg-gradients;
                padding: 0 40px;
                line-height: 85px;
                height: 85px;

                @media #{$breakpoint-lg} {
                    padding: 0 15px 0 30px;
                }

                a {
                    color: $white-color;
                    font-size: 14px;
                    font-weight: 700;
                    display: block;

                    i {
                        width: 45px;
                        height: 45px;
                        border: 2px solid $white-color;
                        border-radius: 50%;
                        display: inline-block;
                        line-height: 41px;
                        font-size: 18px;
                        text-align: center;
                        margin-right: 20px;

                        @media #{$breakpoint-lg} {
                            margin-right: 10px;
                        }
                    }

                    span {
                        @media #{$breakpoint-xs} {
                            display: none;
                        }
                    }
                }

                &:before {
                    position: absolute;
                    width: 50px;
                    height: 120%;
                    top: 3px;
                    left: -28px;
                    z-index: 1;
                    background-color: $bg-default;
                    content: '';
                    @include transform(rotate(30deg));

                    @media #{$breakpoint-lg} {
                        width: 42px;
                    }
                }
            }
        }
    }

    .is-sticky {
        .academy-main-menu {
            position: fixed;
            width: 100%;
            height: 85px;
            top: 0;
            left: 0;
            z-index: 3000;
            background-color: $bg-gray;
            box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);

            &::after {
                position: absolute;
                width: 25%;
                height: 100%;
                top: 0;
                right: 0;
                z-index: 1;
                background-color: #83c331;
                content: '';
            }
        }
    }
}

.hero-slides {
    position: relative;
    z-index: 1;

    .single-hero-slide {
        width: 100%;
        height: 850px;
        position: relative;
        z-index: 1;

        @media #{$breakpoint-lg} {
            height: 650px;
        }

        @media #{$breakpoint-md} {
            height: 550px;
        }

        @media #{$breakpoint-xs} {
            height: 600px;
        }

        h4 {
            color: $white-color;
            margin-bottom: 10px;

            @media #{$breakpoint-xs} {
                font-size: 18px;
            }
        }

        h2 {
            font-size: 60px;
            color: $white-color;
            margin-bottom: 30px;

            @media #{$breakpoint-lg} {
                font-size: 48px;
            }

            @media #{$breakpoint-md} {
                font-size: 36px;
            }

            @media #{$breakpoint-xs} {
                font-size: 30px;
            }
        }
    }

    .owl-prev,
    .owl-next {
        @include bg-gradients;
        width: 56px;
        height: 56px;
        line-height: 56px;
        color: $white-color;
        top: 50%;
        margin-top: -28px;
        left: 5%;
        position: absolute;
        z-index: 10;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        opacity: 0;
        visibility: hidden;
        @include trans-duration(500ms);

        @media #{$breakpoint-xs} {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-top: -20px;
        }

        &:hover,
        &:focus {
            background: $dark-color;
            color: $white-color;
        }
    }

    .owl-next {
        left: auto;
        right: 5%;
    }

    &:hover .owl-prev,
    &:hover .owl-next {
        opacity: 1;
        visibility: visible;
    }
}

/* Top Features Area CSS */

.top-features-area {
    position: relative;
    z-index: 50;
    margin-bottom: -60px;

    @media #{$breakpoint-xs} {
        margin-bottom: -115px;
    }

    .features-content {
        position: relative;
        z-index: 50;
        @include bg-gradients;
        padding: 40px 15px;
        @include transform(translateY(-50%));

        .single-top-features {
            border-right: 2px solid $white-color;

            @media #{$breakpoint-xs} {
                border-right: none;
                border-bottom: 2px solid $white-color;
                padding-bottom: 15px;
                margin-bottom: 15px;
            }

            i {
                font-size: 40px;
                margin-right: 15px;
                color: $white-color;

                @media #{$breakpoint-md} {
                    font-size: 28px;
                    margin-right: 10px;
                }

                @media #{$breakpoint-xs} {
                    font-size: 28px;
                    margin-right: 10px;
                }
            }

            h5 {
                font-size: 18px;
                margin-bottom: 0;
                font-weight: 600;
                color: $white-color;

                @media #{$breakpoint-md} {
                    font-size: 16px;
                }
            }
        }

        .col-12 {
            &:last-child .single-top-features {
                border-right: none;

                @media #{$breakpoint-xs} {
                    border: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Course Area CSS */

.single-course-area {
    .course-icon {
        @include flex (0 0 91px);
        min-width: 91px;
        width: 91px;
        @include bg-gradients;
        width: 91px;
        height: 91px;
        line-height: 95px;
        font-size: 40px;
        color: $white-color;
        text-align: center;
        border-radius: 50%;
        margin-right: 30px;
    }

    .course-content {
        h4 {
            margin-bottom: 15px;
            @include trans-duration(500ms);

            @media #{$breakpoint-lg} {
                font-size: 18px;
            }

            @media #{$breakpoint-md} {
                font-size: 16px;
            }

            @media #{$breakpoint-xs} {
                font-size: 18px;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    &:hover,
    &:focus {
        .course-content {
            h4 {
                color: $hover-color;
            }
        }
    }
}

/* Testimonials Area CSS */

.single-testimonial-area {
    position: relative;
    z-index: 1;

    .testimonial-thumb {
        @include trans-duration(500ms);
        @include flex(0 0 55px);
        max-width: 55px;
        width: 55px;
        height: 55px;
        border: 2px solid transparent;
        margin-right: 40px;
        margin-top: 15px;
        border-radius: 50%;

        img {
            border-radius: 50%;
        }
    }

    .testimonial-content {
        h5 {
            @include trans-duration(500ms);
            color: $white-color;
            font-weight: 500;
            margin-bottom: 30px;
        }

        p {
            color: $white-color;
        }

        h6 {
            color: $white-color;
            margin-bottom: 0;
            font-weight: 500;
            font-size: 15px;

            span {
                color: $hover-color;
            }
        }
    }

    &:hover {
        .testimonial-thumb {
            border-color: $hover-color;
        }

        .testimonial-content {
            h5 {
                color: $hover-color;
            }
        }
    }
}

/* Top Popular Course Area CSS */

.single-top-popular-course {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    background-color: #eef3f6;

    .popular-course-content {
        @include flex(0 0 54%);
        max-width: 54%;
        width: 54%;
        padding: 30px;

        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }

        h5 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
        }

        span {
            font-size: 12px;
            color: $bg-default;
            margin-bottom: 10px;
            display: block;
        }

        .course-ratings {
            font-size: 10px;
            color: #fbb710;
            margin-bottom: 30px;

            .fa-star-o {
                color: #e0e3e4;
            }
        }
    }

    .popular-course-thumb {
        @include flex(0 0 46%);
        max-width: 46%;
        width: 46%;
        height: 350px;

        @media #{$breakpoint-lg} {
            height: 420px;
        }

        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }

        @media #{$breakpoint-xs-landscape} {
            height: 250px;
        }
    }
}

.popular-course-details-area {
    .single-top-popular-course {
        margin-bottom: 0;

        .popular-course-content {
            @include flex(0 0 570px);
            max-width: 570px;
            width: 570px;
            padding: 30px;
            margin-left: auto;

            @media #{$breakpoint-lg} {
                @include flex(0 0 465px);
                max-width: 465px;
                width: 465px;
            }

            @media #{$breakpoint-md} {
                @include flex(0 0 370px);
                max-width: 370px;
                width: 370px;
            }

            @media #{$breakpoint-xs} {
                @include flex(0 0 100%);
                max-width: 100%;
                width: 100%;
            }

            h5 {
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 8px;
                margin-left: -2px;
            }

            span {
                font-size: 14px;
                color: $bg-default;
                margin-bottom: 10px;
                display: block;
            }

            .course-ratings {
                font-size: 10px;
                color: #fbb710;
                margin-bottom: 30px;

                .fa-star-o {
                    color: #e0e3e4;
                }
            }
        }

        .popular-course-thumb {
            @include flex(0 0 50%);
            max-width: 50%;
            width: 50%;
            height: 620px;

            @media #{$breakpoint-xs} {
                @include flex(0 0 100%);
                max-width: 100%;
                width: 100%;
                height: 400px;
            }
        }
    }
}

/* Partner Area CSS */

.partners-logo {
    position: relative;
    z-index: 1;

    a {
        display: inline-block;
        max-width: 130px;

        @media #{$breakpoint-xs} {
            max-width: 40px;
        }

        @media #{$breakpoint-xs-landscape} {
            max-width: 60px;
        }
    }
}

/* Call to Action Area CSS */

.call-to-action-area {
    position: relative;
    z-index: 1;
    @include bg-gradients;
    padding: 70px 0;

    .cta-content {
        h3 {
            font-size: 30px;
            color: $white-color;
            margin-bottom: 0;

            @media #{$breakpoint-lg} {
                font-size: 24px;
            }

            @media #{$breakpoint-md} {
                font-size: 20px;
            }

            @media #{$breakpoint-xs} {
                font-size: 24px;
                margin-bottom: 30px;
            }
        }

        .academy-btn {
            min-width: 110px;
            padding: 0 20px;
            height: 42px;
            line-height: 38px;
            border: 2px solid $white-color;
        }
    }
}

/* Footer Area CSS */

.main-footer-area {
    background-color: #232323;

    .footer-widget {
        .widget-title {
            margin-bottom: 45px;

            h6 {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0;
                color: $white-color;
                margin-top: 10px;
                text-transform: uppercase;
            }
        }

        .footer-social-info {
            a {
                display: inline-block;
                color: $text-color;
                margin-right: 15px;

                &:hover,
                &:focus {
                    color: $white-color;
                }
            }
        }

        .useful-links {
            li {
                a {
                    display: block;
                    color: $text-color;
                    margin-bottom: 15px;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
        }

        .gallery-list {
            a {
                position: relative;
                z-index: 1;
                @flex(0 0 30%);
                max-width: 30%;
                margin-bottom: 15px;
                cursor: zoom-in;

                &::after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    content: '';
                    background-color: rgba(97, 186, 109, 0.8);
                    opacity: 0;
                    visibility: hidden;
                    @include trans-duration(500ms);
                }

                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .single-contact {
            i {
                color: $hover-color;
                font-size: 20px;
                margin-right: 15px;
                padding-top: 7px;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

.bottom-footer-area {
    background-color: #141414;
    padding: 30px 0;
    text-align: center;

    p {
        font-size: 12px;
        margin-bottom: 0;

        a {
            color: $text-color;
            font-size: 12px;
        }
    }
}

/* Breadcumb Area CSS */

.breadcumb-area {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 200px;

    .bradcumbContent {
        width: 500px;
        height: 110px;
        @include bg-gradients;
        position: absolute;
        bottom: -60px;
        @include transform(translateX(-50%));
        left: 50%;
        z-index: 30;

        @media #{$breakpoint-xs} {
            width: 280px;
        }

        h2 {
            text-align: center;
            line-height: 110px;
            font-size: 36px;
            color: $white-color;

            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
    }
}

/* About Us Content Area CSS */

.about-slides {
    position: relative;
    z-index: 1;

    .owl-prev,
    .owl-next {
        @include bg-gradients;
        width: 56px;
        height: 56px;
        line-height: 56px;
        color: $white-color;
        top: 50%;
        margin-top: -28px;
        left: 5%;
        position: absolute;
        z-index: 10;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        @include trans-duration(500ms);

        @media #{$breakpoint-xs} {
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin-top: -18px;
        }
    }

    .owl-next {
        left: auto;
        right: 5%;
    }
}

/* Teachers Area CSS */

.single-teachers-area {
    position: relative;
    z-index: 1;

    .teachers-info {
        h5 {
            font-weight: 400;
            margin-bottom: 3px;
        }

        span {
            color: $hover-color;
            font-size: 14px;
        }
    }
}

/* Blog Area CSS */

.academy-blog-sidebar {
    @media #{$breakpoint-xs} {
        margin-top: 100px;
    }
}

.single-blog-post {
    background-color: #eef3f6;
    padding: 30px;

    .post-title {
        font-size: 24px;
        display: block;
        font-weight: 500;
        margin-bottom: 5px;

        &:hover,
        &:focus {
            color: $hover-color;
        }
    }

    .post-meta {
        margin-bottom: 30px;

        p {
            font-size: 12px;
            color: $hover-color;
            margin-bottom: 0;

            a {
                font-size: 12px;
                color: $hover-color;
                font-weight: 500;
            }
        }
    }
}

.academy-pagination-area {
    .pagination {
        .page-item {
            .page-link {
                width: 36px;
                height: 36px;
                background-color: #eef3f6;
                display: block;
                padding: 0;
                border: none;
                margin-right: 10px;
                color: $heading-color;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                line-height: 36px;

                &:hover,
                &:focus {
                    background-color: $bg-default;
                    color: $white-color;
                }
            }

            &:first-child .page-link {
                margin-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:last-child .page-link {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.active {
                .page-link {
                    background-color: $bg-default;
                    color: $white-color;
                }
            }
        }
    }
}

.blog-post-search-widget {
    form {
        position: relative;
        z-index: 1;

        input {
            width: 100%;
            height: 48px;
            border: none;
            background-color: #eef3f6;
            padding: 0 30px;
            font-size: 12px;
            font-style: italic;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 55px;
            height: 48px;
            background-color: $hover-color;
            border: none;
            z-index: 10;
            cursor: pointer;
            color: $white-color;
        }
    }
}

.blog-post-categories {
    background-color: #eef3f6;
    padding: 30px;

    h5 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    ul {
        padding-left: 30px;

        li {
            a {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 10px;
                display: block;

                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
    }
}

.latest-blog-posts {
    background-color: #eef3f6;
    padding: 30px;

    h5 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .latest-blog-post-thumb {
        @flex(0 0 66px);
        max-width: 66px;
        width: 66px;
        margin-right: 15px;
    }

    .latest-blog-post-content {
        .post-title {
            h6 {
                @include trans-duration(500ms);
                font-weight: 500;
                margin-bottom: 3px;

                @media #{$breakpoint-md} {
                    font-size: 14px;
                }

                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }

        .post-date {
            font-size: 12px;
            color: $hover-color;
        }
    }
}

.map-area {
    position: relative;
    z-index: 2;

    #googleMap {
        width: 100%;
        height: 650px;

        @media #{$breakpoint-lg} {
            height: 500px;
        }
    }
}

/* Contact Area CSS */

.contact-content {
    background-color: #eef3f6;
    padding: 100px 50px;
    position: relative;
    z-index: 15;
    top: -200px;
    margin-bottom: -100px;

    @media #{$breakpoint-xs} {
        padding: 50px 30px;
    }

    .section-heading {
        margin-bottom: 30px !important;
    }

    .contact-social-info {
        a {
            color: $hover-color;
            display: inline-block;
            margin-right: 30px;
        }
    }

    .contact-icon {
        i {
            padding-top: 5px;
            display: inline-block;
            color: $hover-color;
        }
    }

    .contact-form-area {
        padding: 40px 20px;
        background-color: $white-color;

        @media #{$breakpoint-md} {
            margin-top: 100px;
        }

        @media #{$breakpoint-xs} {
            margin-top: 50px;
        }

        .form-control {
            height: 55px;
            width: 100%;
            background-color: #eef3f6;
            font-size: 12px;
            font-style: italic;
            margin-bottom: 15px;
            border: none;
            border-radius: 0;
            padding: 15px 25px;
        }

        textarea.form-control {
            height: 200px;
        }
    }
}

.elements-title {
    h2 {
        font-weight: 500;
    }

    span {
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
        color: #8e8e8e;
        margin-bottom: 15px;
    }
}

.single-pie-bar {
    h6 {
        font-weight: 500;
    }
}

.single-cool-fact {
    position: relative;
    z-index: 1;

    i {
        font-size: 45px;
        margin-bottom: 30px;
        display: block;
        color: $hover-color;
    }

    h3 {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
    }
}

/* Accordians */

.single-accordion {
    &.panel {
        background-color: $white-color;
        border: 0 solid transparent;
        border-radius: 4px;
        box-shadow: 0 0 0 transparent;
        margin-bottom: 15px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    h6 {
        margin-bottom: 0;
        text-transform: uppercase;

        a {
            background-color: #f5f7fa;
            border-radius: 0;
            color: $dark-color;
            display: block;
            margin: 0;
            padding: 20px 60px 20px 20px;
            position: relative;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 500;

            span {
                font-size: 10px;
                position: absolute;
                right: 20px;
                text-align: center;
                top: 23px;

                &.accor-open {
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: alpha(opacity=0);
                }
            }

            &.collapsed {
                @include bg-gradients;
                color: $white-color;

                span {
                    &.accor-close {
                        opacity: 0;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: alpha(opacity=0);
                    }

                    &.accor-open {
                        opacity: 1;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                        filter: alpha(opacity=100);
                    }
                }
            }
        }
    }

    .accordion-content {
        border-top: 0 solid transparent;
        box-shadow: none;

        p {
            padding: 20px 15px 5px;
            margin-bottom: 0;
        }
    }
}

/* Tabs CSS*/

.academy-tabs-content {
    position: relative;
    z-index: 1;

    .nav-tabs {
        border-bottom: none;
        margin-bottom: 50px;

        .nav-link {
            @include bg-gradients;
            padding: 0 20px;
            height: 50px;
            line-height: 50px;
            color: $white-color;
            margin: 0 2px;
            border-radius: 0;
            border: none;

            @media #{$breakpoint-lg} {
                padding: 0 10px;
            }

            @media #{$breakpoint-xs} {
                padding: 0 10px;
            }

            &.active {
                background: #f5f7fa;
                color: $dark-color;
            }
        }
    }

    .tab-content {
        h6 {
            font-size: 18px;
        }
    }
}